.grid-container{
	display: grid;
	flex-wrap: wrap;
	grid-template-columns: repeat(3,1fr);
	grid-template-rows: repeat(3,1fr);
	grid-gap: 5px;
}

.grid-item{
	border: 1px solid gray;
	background-color: rgba(0, 0, 0, 0)
}